{% extends 'mod_inventario/_template.html.twig' %}

{% block title %}Almacenes{% endblock %}

{% block content %}

    <div class="d-flex flex-align-center p-2 bg-white mb-3">
        <span class="ml-2 text-leader">Almacenes</span>
        <div class="ml-auto">
            <a class="button primary flex-self-center" href="{{ path('app_mod_inventario_almacen_new') }}" title="Nuevo almacén">
                <span class="mif-add"></span>
            </a>
        </div>
    </div>

    <div class="bg-white p-3">
        <table class="table no-check">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Descripción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for almacen in almacens %}
                <tr>
                    <td>{{ almacen.nombre }}</td>
                    <td>{{ almacen.codigo }}</td>
                    <td>{{ almacen.descripcion }}</td>
                    <td>
                        <a class="button primary" href="{{ path('app_mod_inventario_almacen_show', {'id': almacen.id}) }}">
                            <span class="mif-eye"></span>
                        </a>
                        <a class="button secondary" href="{{ path('app_mod_inventario_almacen_edit', {'id': almacen.id}) }}">
                            <span class="mif-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
