{% extends '_themes/metroui/base.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="bg-white p-3">
        <div class="container text-center">

            <img src="{{ asset('assets/metroui/images/error.png') }}" class="w-25">

            <div class="h1 text-center m-8">¡Error!</div>

            <div class="text-leader2 text-center page-error-box mx-auto w-100">
                {{ app.request.cookies.get('mensaje') }}
                <br>Mientras tanto, puede volver a la <a href="{{ app.request.cookies.get('url_actual') }}">página anterior</a> o al <a href="{{ path('app_principal') }}">inicio</a>.
            </div>
        </div>
        <hr>
        <div class="text-leader2 text-center page-error-box mx-auto w-100">
            Enlace relacionado: <a href="{{ app.request.cookies.get('url_actual') }}">
                {{ app.request.cookies.get('url_actual') }}
            </a>
        </div>
        <hr>
        <div class="text-center">
            <div class="dialog" data-role="dialog" id="errorDialog">
                <div class="dialog-title">Descripción del error</div>
                <div class="dialog-content">
                    <div>
                        {{ app.request.cookies.get('code') }}
                    </div>
                    {% if app.request.cookies.get('file') is defined %}
                        <hr>
                        <div>
                            {{ app.request.cookies.get('file') }} : {{ app.request.cookies.get('line') }}
                        </div>
                    {% endif %}
                </div>
                <div class="dialog-actions">
                    <button class="button js-dialog-close">Cerrar</button>
                </div>
            </div>
            <button class="button primary mt-3"
                    onclick="Metro.dialog.open('#errorDialog')">Para el desarrollador</button>
        </div>

    </div>
{% endblock %}