<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('assets/metroui/images/favicon_indigo.ico') }}" type="image/x-icon">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="{{ asset('assets/metroui/vendors/metro4/css/metro-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/metroui/css/index.css') }}">

    <title>bitácora | Error de instalación</title>
</head>
<body class="m4-cloak h-vh-100 d-flex flex-justify-center flex-align-center">

<div class="bg-white p-3">
    <div class="container text-center">

        <img src="{{ asset('assets/metroui/images/error.png') }}" class="w-25">

        <div class="h1 text-center m-8">¡Error de instalación!</div>

        <div class="text-leader2 text-center page-error-box mx-auto w-100">
            <span class="remark alert">
                {{ app.request.cookies.get('log_file_exception_mensaje') }}
            </span>
        </div>
    </div>
    <hr>
    <div class="text-leader2 text-center page-error-box mx-auto w-100">
        Comuníquele al desarrollador sobre este error, para que sea corregido.
    </div>
    <hr>
    <div class="text-center">
        <div class="dialog" data-role="dialog" id="errorDialog">
            <div class="dialog-title">Descripción del error</div>
            <div class="dialog-content">dd
                <div>
                    {{ app.request.cookies.get('log_file_exception_mensaje') }}
                </div>
            </div>
            <div class="dialog-actions">
                <button class="button js-dialog-close">Cerrar</button>
            </div>
        </div>
        <a href="{{ path('app_install') }}" class="button primary mt-3">Reinciar instalación</a>
    </div>

</div>


<script src="{{ asset('assets/metroui/vendors/jquery/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/metroui/vendors/metro4/js/metro.min.js') }}"></script>
</body>
</html>
