<div class="bg-lightBlue d-flex flex-align-center">
    <button class="pull-button m-0 bg-darkBlue-hover">
        <span class="mif-menu fg-white"></span>
    </button>
    <h5 class="text-light m-0 fg-white pl-7" style="line-height: 52px">bitácora</h5>
</div>

<div class="suggest-box pt-5">
    <div class="data-box">
        {% if app.user and app.user.foto %}
            <img class="avatar" src="{{ asset(vich_uploader_asset(app.user, 'fotoFile')) }}">
        {% else %}
            <img class="avatar" src="{{ asset('assets/images/usuarios/generic_metroui.jpg') }}">
        {% endif %}
        <div class="ml-4 avatar-title flex-column">
            <a href="#" class="d-block fg-white text-medium no-decor"><span class="reduce-1">{{ app.user.nombreCompleto }}</span></a>
            <div>----</div>
        </div>
    </div>

</div>
<ul class="navview-menu" id="side-menu">
    {% for elem in sidebar_menu.sidebar_menu %}
        <li class="item-header">{{ elem.titulo }}<li>
        {% import "_themes/metroui/macro.sidebar.html.twig" as macro %}

        {% for enlace in elem.enlaces %}
            {{ macro.render_node(enlace) }}
        {% endfor %}
    {% endfor %}
</ul>

<div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0">
    <div>&copy; 2023 {% if "now" | date('Y') != 2023 %} - {{ "now" | date('Y') }} {% endif %} <br>
        <a href="mailto:yosamybermudez@gmail.com" class="text-muted fg-white-hover no-decor">Yosamy David Bermúdez Pérez</a> <br>
        <a href="mailto:jcpenny9107@gmail.com" class="text-muted fg-white-hover no-decor">José Carlos Peñalver Peñalver</a></div>
</div>