<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('assets/metroui/images/favicon_indigo.ico') }}" type="image/x-icon">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="{{ asset('assets/metroui/vendors/metro4/css/metro-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/metroui/css/index.css') }}">

    <title>bitácora | Cargar datos</title>
</head>
<body class="m4-cloak h-vh-100 d-flex flex-justify-center flex-align-center">

{{ form_start(form, { 'attr' : { 'data-role': 'validator', 'onsubmit' : 'loading()' } }) }}
<div class="container">
    <div class="row">
        <div class="cell-md-12">
            <div class="bg-white p-3 d-flex flex-justify-between">
                <h3 class="mb-0 text-center">Cargar datos iniciales</h3>
                <button class="button primary" type="submit">Confirmar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-md-12">
            <div class="bg-white p-3 h-100">
                <h5>Datos de la conexión</h5>
                <div class="row">
                    <div class="cell-md-12">
                        {{ form_widget(form.bd_conexion) }}
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="cell-md-12">
            <div class="bg-white p-3">
                <h5>Datos de la organización</h5>
                <div class="row">
                    <div class="cell-md-8">
                        {{ form_row(form.empresa.empresa_nombre) }}
                    </div>
                    <div class="cell-md-2">
                        {{ form_row(form.empresa.empresa_siglas) }}
                    </div>
                    <div class="cell-md-2">
                        {{ form_row(form.empresa.empresa_logo) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-md-12">
            <div class="bg-white p-3">
                <h5>Datos de acceso del administrador del sistema</h5>
                <div class="row">
                    <div class="cell-md-4">
                        {{ form_row(form.super_admin.username) }}
                    </div>
                    <div class="cell-md-4">
                        {{ form_row(form.super_admin.password) }}
                    </div>
                    <div class="cell-md-4">
                        {{ form_row(form.super_admin.repeat_password) }}
                    </div>
                </div>
                <div class="remark info">Este usuario tendrá acceso total a las funcionalidades del sistema. No se debe olvidar el identificador ni la contraseña especificadas.</div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
<script src="{{ asset('assets/metroui/vendors/jquery/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/metroui/vendors/metro4/js/metro.min.js') }}"></script>
<script>
    function invalidForm(){
        var form  = $(this);
        form.addClass("ani-ring");
        setTimeout(function(){
            form.removeClass("ani-ring");
        }, 1000);
    }
</script>
<script>
    function loading() {
        Metro.activity.open({
            type: 'square',
            overlayColor: '#fff',
            overlayAlpha: 0.9,
            text: '<div class=\'mt-2 text-small\'>Por favor, espere ...</div>',
            overlayClickClose: false
        });
    }
</script>
</body>
</html>