{% extends '_themes/metroui/base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
    <div class="d-flex flex-align-center p-2 bg-white mb-3">
        <span class="ml-2 text-leader">Usuarios</span>
        {% if is_granted('ROLE_ESPECIALISTA_PRINCIPAL') %}
            <div class="ml-auto">
                <a class="button primary flex-self-center" href="{{ path('app_usuario_new') }}" title="Nuevo usuario">
                    <span class="mif-add"></span>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="bg-white p-3">
        <table class="table no-check">
            <thead>
            <tr>
                <th>Avatar</th>
                <th>Identificador</th>
                <th>Nombre(s) y apellidos</th>
                <th>Cargo</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        <div style="width: 32px;">
                            {% if usuario and usuario.foto %}
                                <img class="avatar" src="{{ asset(vich_uploader_asset(usuario, 'fotoFile')) }}">
                            {% else %}
                                <img class="avatar" src="{{ asset('assets/images/usuarios/generic_metroui.jpg') }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ usuario.userIdentifier }}</td>
                    <td>{{ usuario.nombreCompleto }}</td>
                    <td>{{ usuario.cargo }}</td>
                    <td>
                        {% for rol in usuario.roles %}
                            <code class="primary">{{ rol | rol_nombre }}</code>
                        {% endfor %}
                    </td>
                    <td>

                        <div class="toolbar float-right">
                            <a title="Mostrar" class="tool-button primary" href="{{ path('app_usuario_show', {'id': usuario.id}) }}">
                                <span class="mif-eye"></span>
                            </a>
                            {% if is_granted('ROLE_ESPECIALISTA_PRINCIPAL') %}
                                <a title="Editar" class="tool-button secondary" href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">
                                    <span class="mif-pencil"></span>
                                </a>
                                <a title="Cambiar contraseña" class="tool-button warning" href="{{ path('app_usuario_change_password', {'id': usuario.id}) }}">
                                    <span class="mif-key"></span>
                                </a>
                                {% if usuario.activo %}
                                    <form method="post" action="{{ path('app_usuario_delete', {'id': usuario.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el usuario?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
                                        <button title="Eliminar" class="tool-button alert">
                                            <span class="mif-bin"></span>
                                        </button>
                                    </form>
                                {% else %}
                                    <a title="Habilitar" class="tool-button success" href="{{ path('app_usuario_habilitar', {'id': usuario.id}) }}">
                                        <span class="mif-checkmark"></span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
