{% extends '_themes/metroui/base.html.twig' %}

{% block title %}Perfil de usuario{% endblock %}

{% block content %}
    <div class="d-flex flex-align-center p-2 bg-white mb-3">
        <a href="{{ path('app_usuario_index') }}" class="button square outline"><span class="mif-arrow-left"></span></a>
        <span class="ml-2 text-leader">Perfil de usuario <span class="text-bold">{{ usuario.userIdentifier }}</span></span>
        {% if is_granted('ROLE_ESPECIALISTA_PRINCIPAL') %}
        <div class="ml-auto">
            <a title="Nuevo" href="{{ path('app_usuario_new') }}" class="button square primary"><span class="mif-add"></span></a>
            <a title="Editar" href="{{ path('app_usuario_edit', {'id' : usuario.id }) }}" class="button square secondary"><span class="mif-pencil"></span></a>
            <a title="Cambiar contraseña" href="{{ path('app_usuario_change_password', {'id': usuario.id}) }}" class="button square warning">
                <span class="mif-key"></span>
            </a>
            {% if not usuario.activo %}
                <a title="Habilitar" href="{{ path('app_usuario_habilitar', {'id': usuario.id}) }}" class="button square success">
                    <span class="mif-checkmark"></span>
                </a>
            {% else %}
                <form class="ml-1 float-right" method="post" action="{{ path('app_usuario_delete', {'id': usuario.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el usuario?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
                    <button title="Eliminar" class="button alert">
                        <span class="mif-bin"></span>
                    </button>
                </form>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="d-flex flex-align-center p-2 bg-white mb-3">
        <div class="w-100">
            {{ form_start(form) }}
            {{ form_row(form.usuario) }}
            {{ form_end(form) }}
        </div>
        <script>
            function submit_form() {
                $('form[name="form"]').submit();
            }
        </script>
    </div>

    <div class="skill-box">
        <div class="header border-top border-bottom bd-default">
            {% if usuario and usuario.foto %}
                <img class="avatar" src="{{ asset(vich_uploader_asset(usuario, 'fotoFile')) }}">
            {% else %}
                <img class="avatar" src="{{ asset('assets/images/usuarios/generic_metroui.jpg') }}">
            {% endif %}
            <div class="title">{{ usuario.nombreCompleto }}</div>
            <div class="subtitle">{{ usuario.cargo }}</div>
        </div>
        <div class="p-6">
            <div class="text-bold">Estado</div>
            {% if usuario.activo %}
                <code class="success">Activo</code>
            {% else %}
                <code class="alert">Inactivo</code>
            {% endif %}
        </div>
        <div class="p-6">
            <div class="text-bold">Roles</div>
            {% for rol in usuario.roles %}
                <code class="primary">{{ rol | rol_nombre }}</code>
            {% endfor %}
        </div>

    </div>

{% endblock %}
