{% extends '_themes/metroui/base.html.twig' %}

{% macro agregarFilaAlmacenProductoMovimiento(almacen_producto_movimiento_form) %}
    <tr class="almacen-producto-movimiento-fila">
        <td>{{ form_widget(almacen_producto_movimiento_form.almacen_producto) }}</td>
        <td><span class="almacen_producto_max text-center"></span></td>
        <td>{{ form_widget(almacen_producto_movimiento_form.cantidad) }}</td>
        <td>{{ form_widget(almacen_producto_movimiento_form.eliminar) }}</td>
    </tr>
{% endmacro %}

{% import _self as macro %}

{% block title %}{{ app.request.get('_route') | get_action }} movimiento{% endblock %}

{% block content %}
    {{ form_start(form, { 'attr' : { 'data-role': 'validator' } }) }}
    <div class="d-flex flex-align-center p-2 bg-white mb-3">
        <a href="{{ path('app_mod_inventario_movimiento_tipo_index', {'tipo' : 'devoluciones'}) }}" class="button square outline"><span class="mif-arrow-left"></span></a>
        <span class="ml-2 text-leader">Datos de la movimiento <span class="text-bold">Devolución de productos (a proveedor)</span></span>
        <div class="ml-auto">
            <button type="submit" name="save_add_new" class="button secondary mr-2">{{ button_label|default('Guardar y agregar otro') }}</button>
            <button type="submit" name="save_confirm_add_new" class="button secondary mr-2">{{ button_label|default('Guardar, confirmar y agregar otro') }}</button>
            <button type="submit" name="save_confirm" class="button secondary mr-2">{{ button_label|default('Guardar y confirmar') }}</button>
            <button type="submit" name="save" class="button secondary mr-2">{{ button_label|default('Guardar') }}</button>
        </div>
    </div>
    <div class="bg-white p-3">
        <div class="row">
            <div class="cell-md-4 h-100">
                <h5>Datos generales</h5>
                {% if form.codigo is defined %}{{ form_row(form.codigo) }}{% endif %}
                {% if form.fecha is defined %}{{ form_row(form.fecha) }}{% endif %}
                {% if form.proveedor is defined %}{{ form_row(form.proveedor) }}{% endif %}
                {% if form.formaPago is defined %}{{ form_row(form.formaPago) }}{% endif %}
                {% if form.descripcion is defined %}{{ form_row(form.descripcion) }}{% endif %}
            </div>
            <div class="cell-md-8 h-100 pl-6">
                <h5>Productos asociados</h5>
                <table class="table no-fields no-metro-ui">
                    <thead>
                    <tr>
                        <th width="60%">Producto</th>
                        <th width="10%">Máx</th>
                        <th width="10%">Cantidad</th>
                        <th>
                            <button type="button" class="button" id="almacen-producto-movimiento-fila-agregar">
                                <span class="mif-add"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="almacen-producto-movimiento-contenedor" data-prototype="{{ macro.agregarFilaAlmacenProductoMovimiento(form.almacen_producto_movimientos.vars.prototype)|e('html_attr') }}">
                    {% for almacen_producto_movimiento in form.almacen_producto_movimientos %}
                        {{ macro.agregarFilaAlmacenProductoMovimiento(almacen_producto_movimiento) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="cell-md-12">
                <h5>Otros datos</h5>
                {{ include('_includes/metroui.entregado_transportado_recibido.html.twig') }}
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}

{% block bottom_scripts %}
    <script>
        $(document).on('change', 'select.almacen_producto_nombre', function () {
            var item = $(this);
            var input = item.closest('.almacen-producto-movimiento-fila').find('input.almacen_producto_cantidad');
            var max = item.closest('.almacen-producto-movimiento-fila').find('span.almacen_producto_max');
            input.focus();
            var saldoDisponible = $('option:selected', item).attr('data-saldo-disponible');

            input.attr('data-validate', 'required number min=0 max=' + saldoDisponible);
            max.html(saldoDisponible);

        });
        // $(document).on('click', 'button[type="submit"]', function (e) {
        //     e.preventDefault();
        //     var selects = $('select[name^="movimiento_venta[almacen_producto_movimientos]"]');
        //     var array = [];
        //     selects.each(function () {
        //         var value = $('option:selected', $(this)).text();
        //         array.push(value);
        //     });
        //
        //     var nombresArray = array.sort();
        //
        //     var duplicados = [];
        //     for (var i = 0; i < nombresArray.length - 1; i++) {
        //         if (nombresArray[i + 1] == nombresArray[i]) {
        //             duplicados.push(nombresArray[i]);
        //         }
        //     }
        //     if(duplicados.length > 0){
        //         alert('Existen productos repetidos');
        //     } else {
        //         $('form[name="movimiento_venta"]').submit();
        //     }
        // });
    </script>
{% endblock %}